<div class="container">
  <h1 class="text-center tittle">Nuevo usuario</h1>
  <%if params[:error] == 'exists'%>
    <div class="alert alert-danger" role="alert">
      <strong>¡Oh no!</strong> El usuario ya existe
    </div>
  <%end%>
  <%= form_for :person, :url => url_for(:controller => 'person', :action => 'create') do |f| %>
    <%=render 'form', f: f%>
  <%end%>
</div>
