<div class="container">
  <div class="main">
    <h1 class="text-center title">Bienvenido al sistema de control de usuarios</h1>

    <center>
      <button type="button" class="btn btn-outline-success">
        <%= link_to "Gestionar personal", :controller => 'person', :action => 'index'%>
      </button>
    </center>
  </div>
</div>
