// Gems styles
@import "bootstrap";
@import "font-awesome";

// My style files
@import "person";
@import "home";
@import "pet";

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

@mixin flex-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  margin-top: 3%;
}

.blocks {
  @include flex-style;
  width: 100%;
}

.card {
  padding: 1%;
  margin: 2% 2% 0 2%;
}

.picture {
  width: 60%;
  img {
    width: 100%;
  }
}

.buttonsGroup {
  @include flex-style;
  margin-top: 4%;
  width: 100%;
  button {
    margin: 2%;
  }
}

.tittle {
  margin: 4% 0 4% 0;
}

.add {
  margin: 5% 0 5% 0;
}

.block {
  @include flex-style;
  width: 100%;
  align-items: center;
}

.image {
  width: 20%;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

ul {
  font-family: 'Comfortaa', cursive;
}

.info {
  font-size: 1.3em;
}
