$a-tags: 'a, a:active, a:hover, a:visited, &:focus, &:active:focus, &:active:hover';

.brand {
  width: 6%;
  img {
    width: 100%;
  }
}

.myNav {
}

li {
  #{$a-tags} {
     color: rgb(181, 178, 178);
     text-decoration: none;
   }
}
